{% extends "template.html" %}

{% block content %}
<div class="col-md-12">
    <div class="row">
        <form method="get">
            <div class="row">
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="sourceAccessionId" class="col-2 col-form-label">Accession Id</label>
                        <div id="sourceAccessionIdDiv" class="col-6">
                            <input id="sourceAccessionId" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="targetAccessionId" class="col-2 col-form-label">Accession Id</label>
                        <div class="col-6">
                            <input id="targetAccessionId" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="sourceName" class="col-2 col-form-label">Name</label>
                        <div id="sourceNameDiv" class="col-6">
                            <input id="sourceName" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="targetName" class="col-2 col-form-label">Name</label>
                        <div class="col-6">
                            <input id="targetName" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group required row mb-2">
                        <label for="evidence" class="col-2 col-form-label">Evidence Comment</label>
                        <div class="col-9">
                            <input id="evidence" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group required row mb-2">
                        <label for="provenance" class="col-2 col-form-label">Provenance</label>
                        <div class="col-9">
                            <input id="provenance" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group row mb-2">
                        <label for="similarity" class="col-2 col-form-label">Similarity Score</label>
                        <div class="col-2">
                            <input id="similarity" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary px-4 float-right">Map</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
function configure_autocomplete(divId, relatedFieldId, search_endpoint) {
    // constructs the suggestion engine
    var typeaheadBH = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      // datumTokenizer: Bloodhound.tokenizers.obj.nonword('name', 'synonyms'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      sorter: function(a, b) {
        return a.order - b.order;
      },
      remote: {
        url: search_endpoint,
        wildcard: '%QUERY',
        transform : function(response) {
          return typeaheadBH.sorter(response);
        }
      }
    });

    $('#' + divId + ' .typeahead').typeahead({
      hint: false,
      highlight: true,
      minLength: 1
    },
    {
      name: 'autocomplete',
      source: typeaheadBH,
      limit: 30,
      display: function(item) {
        if (divId.includes('AccessionId')) {
            return item.accession_id;
        } else {
            return item.name
        }
      },
      templates: {
        suggestion: function(data) {
            return '<p>' + data.name + ' [' + data.accession_id + ']' + '</p>';
        }
      }
    });
}// end configure_autocomplete

configure_autocomplete("sourceAccessionIdDiv", "sourceName", "/taxonomy?accession_id=%QUERY")
configure_autocomplete("sourceNameDiv", "sourceAccessionId", "/taxonomy?name=%QUERY")

// automatically fill related fields
$('#sourceAccessionId').bind('typeahead:select', function(ev, suggestion) {
  $('#sourceName')[0].value = suggestion.name;
});
$('#sourceName').bind('typeahead:select', function(ev, suggestion) {
  $('#sourceAccessionId')[0].value = suggestion.accession_id;
});

</script>

{% endblock %}