{% extends "template.html" %}

{% block content %}
<div class="col-md-12">
    <!--    TAXONOMY SELECTION    -->
    <div class="row" style="margin-bottom: 10px">
        <div class="col-6">
            <div class="row">
                <label for="similarity" class="col-3 col-form-label">Current Taxonomy:</label>
                <label for="similarity" class="col-4 col-form-label">{{current_taxonomy}}</label>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <label for="similarity" class="col-3 col-form-label">Target Taxonomy: </label>
                <div class="col-4">
                    <select id="targetTaxonomyName" class="form-select" title="">
                      <option selected></option>
                      {% for target_taxon in target_taxonomies %}
                      <option value="{{target_taxon}}">{{target_taxon}}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!--    TREE VIEW    -->
    <div class="row" style="margin-bottom: 20px">
        <div class="col-6">
            <div id="source-treeview" class="col-8" style=" overflow-y:auto; height: 300px; border: 1px solid #ccc ;"></div>
        </div>
        <div class="col-6">
            <div id="target-treeview" class="col-8" style=" overflow-y:auto; height: 300px; border: 1px solid #ccc ;"></div>
        </div>
    </div>
    <!--    MAPPING FORM    -->
    <div class="row">
        <form method="get">
            <div class="row">
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="sourceAccessionId" class="col-2 col-form-label">Accession Id</label>
                        <div id="sourceAccessionIdDiv" class="col-6">
                            <input id="sourceAccessionId" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="targetAccessionId" class="col-2 col-form-label">Accession Id</label>
                        <div id="targetAccessionIdDiv"  class="col-6">
                            <input id="targetAccessionId" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="sourceName" class="col-2 col-form-label">Name</label>
                        <div id="sourceNameDiv" class="col-6">
                            <input id="sourceName" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required row mb-2">
                        <label for="targetName" class="col-2 col-form-label">Name</label>
                        <div id="targetNameDiv" class="col-6">
                            <input id="targetName" class="typeahead form-control" type="text" value="" placeholder="Search"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group required row mb-2">
                        <label for="evidence" class="col-2 col-form-label">Evidence Comment</label>
                        <div class="col-9">
                            <input id="evidence" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group required row mb-2">
                        <label for="provenance" class="col-2 col-form-label">Provenance</label>
                        <div class="col-9">
                            <input id="provenance" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group row mb-2">
                        <label for="similarity" class="col-2 col-form-label">Similarity Score</label>
                        <div class="col-2">
                            <input id="similarity" class="form-control" type="text" value=""/>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary px-4 float-right">Map</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
target_data_tree=JSON.parse('{{target_data_tree | tojson}}');
source_data_tree=JSON.parse('{{source_data_tree | tojson}}');

// Autocomplete operations

function configure_autocomplete(divId, relatedFieldId, search_endpoint) {
    // constructs the suggestion engine
    var typeaheadBH = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      // datumTokenizer: Bloodhound.tokenizers.obj.nonword('name', 'synonyms'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      sorter: function(a, b) {
        return a.order - b.order;
      },
      remote: {
        url: search_endpoint,
        wildcard: '%QUERY',
        transform : function(response) {
          return typeaheadBH.sorter(response);
        },
        replace: function(url, uriEncodedQuery) {
            // mapping_target endpoint requires an extra parameter to specify target name
            if (divId.includes('target')){
                target_name = $('#targetTaxonomyName').find(":selected").text();
                if (target_name) {
                    target_name = $('#targetTaxonomyName').find(":selected").text();
                    return url.replace("%QUERY", uriEncodedQuery) + '&target_name=' + target_name;
                }
            } else {
                return url.replace("%QUERY", uriEncodedQuery);
            }
        },
      }
    });

    $('#' + divId + ' .typeahead').typeahead({
      hint: false,
      highlight: true,
      minLength: 1
    },
    {
      name: 'autocomplete',
      source: typeaheadBH,
      limit: 30,
      display: function(item) {
        if (divId.includes('AccessionId')) {
            return item.entity_id;
        } else {
            return item.name
        }
      },
      templates: {
        suggestion: function(data) {
            return '<p>' + data.name + ' [' + data.entity_id + ']' + '</p>';
        }
      }
    });
}// end configure_autocomplete

configure_autocomplete("sourceAccessionIdDiv", "sourceName", "/mapping_source?entity_id=%QUERY");
configure_autocomplete("sourceNameDiv", "sourceAccessionId", "/mapping_source?name=%QUERY");

configure_autocomplete("targetAccessionIdDiv", "targetName", "/mapping_target?entity_id=%QUERY");
configure_autocomplete("targetNameDiv", "targetAccessionId", "/mapping_target?name=%QUERY");

// automatically fill related fields (id <-> name)
$('#sourceAccessionId').bind('typeahead:select', function(ev, suggestion) {
  $('#sourceName')[0].value = suggestion.name;
});
$('#sourceName').bind('typeahead:select', function(ev, suggestion) {
  $('#sourceAccessionId')[0].value = suggestion.entity_id;
});
$('#targetAccessionId').bind('typeahead:select', function(ev, suggestion) {
  $('#targetName')[0].value = suggestion.name;
});
$('#targetName').bind('typeahead:select', function(ev, suggestion) {
  $('#targetAccessionId')[0].value = suggestion.entity_id;
});

// TODO delete this

$(document).ready(function(e){
    console.log("jquery ready");

    // Load Target Taxonomy
    $("#loadTaxonomyBtn").click(function(e) {
        console.log("button clicked");
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/load_taxonomy?url=" + $("#target_taxonomy").val(),
            success: function(result) {
                // TODO load treeview
            },
            error: function(result) {
                alert('Taxonomy loading failed: ' + result);
            }
        });
    });

});

// Tree operations

$('#source-treeview').bind('mousewheel', function(e) {
  $(this).scrollTop($(this).scrollTop() - e.originalEvent.wheelDeltaY);
  return false;
});
var $searchableTree = $('#source-treeview').bstreeview({
  data: source_data_tree,
  color: "#428bca",
  levels: 5,
  showBorder: false
});

// target tree view update on taxonomy selection change
$('#targetTaxonomyName').on('change', function() {
  // remove existing view
  $('#target-treeview').empty();
  $("#target-treeview").removeClass("bstreeview");
  // apply selected treeview
  tree_data=target_data_tree[this.value];
  $('#target-treeview').bstreeview({
      data: tree_data,
      color: "#428bca",
      levels: 5,
      showBorder: false
  });
});

</script>

{% endblock %}